<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Custom fonts for this template-->
    <link
      href="../static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-primary">
    <div class="container d-flex justify-content-center">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="p-5">
            <div class="text-justify">
              <h1 class="h4 text-gray-900 mb-4">
                Please fill up the following details to add a case
              </h1>
            </div>
            <form action="/client/add_case_pg3" method="POST">
              <div class="form-group row mt-4">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="h_date">Hearing Date: </label>
                  <input
                    type="date"
                    id="h_date"
                    name="h_date"
                    class="form-control form-control-user"
                  />
                </div>
              </div>
              <div class="form-group row mt-4">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="court_case_no">Court Case Number: </label>
                  <input
                    type="text"
                    name="court_case_no"
                    id="court_case-no"
                    class="form-control form-control-user"
                  />
                </div>
              </div>
              <div class="form-group row mt-4">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="court_type">Type Of Court</label>
                  <input
                    type="text"
                    name="court_type"
                    id="court_type"
                    class="form-control form-control-user"
                  />
                </div>
              </div>
              <div class="form-group row mt-4">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input
                    type="submit"
                    value="Done"
                    class="btn btn-primary btn-user btn-block"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
